


swipe-card {
    display: block;


    /*aspect ratio like a usual card*/
    aspect-ratio: 1 / 1.5;
    background-color: var(--color-background);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transform-origin: bottom center;
}